.about-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5% 10%;
}

.p-about {
    font-size: 1.4rem;
}

.w-75 {
    width: 58%;
}

.img-about {
    width: 550px;
    height: 300px;
}