.card_background {
  background-color: var(--green);
  width: 400px;
  border-radius: 4px;
}

.card {
  position: relative;
  top: -10px;
  left: -10px;
  background-color: var(--white-20);
  padding: var(--space-xl) 0;
  height: 100%;
  border-radius: 4px;
  display: flex;
  justify-content: center;
}

.card_content {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.description {
  margin-top: var(--space-xxs);
}

.button {
  margin-top: var(--space-l);
  background-color: var(--non-active-blue);
  color: var(--white);
  padding: var(--space-s) var(--space-s);
  border-radius: 4px;
  width: fit-content;
  display: flex;
  gap: var(--space-xs);
  align-items: center;
  font-family: var(--secondary-font);
  transition: background-color 0.2s ease-in;
}

.button_icon {
  width: 20px;
  height: 20p;
}

.button:hover {
  background-color: var(--active-blue);
}

@media (width <= 830px) {
  .card_background {
    width: 340px;
  }

  .card {
    padding: var(--space-m) 0;
  }

  .button_icon {
    width: 15px;
    height: 15px;
  }
}
