.education-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20rem 8rem;
}

.img-education {
    width: 700px;
    height: 400px;
}