.footer {
  width: 70%;
  padding: var(--space-l) 0;
}

.top_section {
  display: flex;
  justify-content: space-between;
}

.personal_section {
  width: 50%;
}

.bottom_section {
  margin-top: var(--space-l);
  gap: var(--space-l);
}

.links_section {
  display: flex;
  gap: var(--space-xxl);
}

.links {
  display: flex;
  flex-direction: column;
  gap: var(--space-xxs);
  margin-top: var(--space-xxs);
}

.footer_img {
  width: 35px;
  height: 35px;
}

@media (2000px <= width) {
  .footer {
    width: 1500px;
  }
}

@media (width <= 1230px) {
  .footer {
    width: 80%;
  }
}

@media (width <= 830px) {
  .footer {
    width: 85%;
  }
}

@media (width <= 430px) {
  .personal_section {
    width: 45%;
  }
}
