.p-hero {
    font-size: 2rem;
}

.img-hero {
    width: 600px;
    height: 600px;
}

.hero-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin-top: -54px;
    padding: 0 10%;
}

.w-50 {
    width: 50%;
}

.mt-2 {
    margin-top: 2rem;
}

.animated-bg {
    z-index: -1;
}