h1 {
    font-size: 5rem; 
    text-decoration: underline;
    text-decoration-color: var(--yellow);
}

.p-hero {
    font-size: 2rem;
}

.img-hero {
    width: 600px;
    height: 600px;
}

.hero-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10rem 8rem;
}

.w-50 {
    width: 50%;
}

.mt-2 {
    margin-top: 2rem;
}