:root {
  --black: #353334;
  --offwhite: #F7F3E8;
  --yellow: #F2D770;
}

/*reset css provided by kevin powell*/
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-: 100vh;
  background-color: var(--offwhite);
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}