:root {
  --black: #353334;
  --darker-black: #393738;
  --offwhite: #F7F3E8;
  --yellow: #F2D770;
  --blue: #274B97;
}

/*reset css provided by kevin powell*/
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
  background-color: var(--offwhite);
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}

h1, h2 {
  font-family: "BN Mighty";
  color: var(--black);
}

a {
  font-family: 'Helvetica Neue Medium';
}

p {
  font-family: 'Helvetica Neue Light';
  color: var(--darker-black);
}