.wrap {
    flex-wrap: wrap;
}

.mt-1 {
    margin-top: 1rem;
}

.w-45 {
    width: 45%;
}

.spc-btwn {
    justify-content: space-between;
    gap: 2rem;
}

.mt-5 {
    margin-top: 5rem;
}

.w-80 {
    width: 80%;
}

.interest-container {
    margin: 10rem 0rem;
}