.fixed {
  z-index: 5;
  color: var(--black);
  position: fixed;
  display: flex;
  top: 48px;
  width: 100%;
  justify-content: center;
}

.navigation_bar {
  list-style-type: none;
  position: relative;
  display: flex;
  padding: var(--space-s) var(--space-l);
  border-radius: 600px;
  background-color: var(--white);
}

.tab {
  position: relative;
  z-index: 10;
  padding: 0 var(--space-m);
}

.cursor_highlight {
  position: absolute;
  top: 8px;
  z-index: 0;
  height: var(--space-xl);
  padding: 0 var(--space-xl);
  border-radius: 600px;
  background-color: var(--white-40);
}

@media (width <= 430px) {
  .navigation_bar {
    padding: var(--space-s) var(--space-s);
  }

  .tab {
    padding: 0 var(--space-s);
  }
}
